body {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    letter-spacing: 0.03em;
  }

.card {
    border-radius: 30px;
    width: 400px;
    box-shadow: inset 0 4px 5px 2px white;
    box-shadow: -5px 5px 20px -5px black;
}

.temple{
    width: 400px;
    border-radius: 30px 30px 0px 0px;
}

.center{
    text-align: center;
}

.p-15-20{
    padding: 15px 20px;
}

.like{
    width: 50px;
    position: relative;
    top: -225px;
    left: 325px;
}

.like :hover{
    transition: all 2s ease-in-out;
    transform: scale(1.5);
}

.row{
    display: flex;
    flex-direction: row;
}

.bottom{
    background-color: #ffffff;
    border-radius: 0px 0px 30px 30px;
}