body {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
    letter-spacing: 0.03em;
  }

.card {
    border-radius: 30px;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px black;
}

.card img {
    width: 400px;
    border-radius: 30px 30px 0px 0px;

}

.card h2, .card p{
    margin: 20px;
    text-align: center;
}

.card h2 {
    margin-top: -30px;
}

.like img{
    width: 50px;
    position: relative;
    top: -230px;
    left: 325px;
    margin: 0px;
    padding: 0px;
}

.like :hover{
    transition: all .5s ease-in-out;
    transform: scale(1.5);
}

button {
    position: relative;
    left: 225px;
    top: -50px;
    width: 150px;
    height: 30px;
    margin: 10px;
    background-color: #eeeeee;
    border-radius: 10px;
    border-width: .5px;
}

a :hover{
    transition: .75s;
    background: black;
    color: #ffffff;
}

.sqf {
    position: relative;
    left: -100px;
    font-variant: small-caps;
}