* {
     margin: 0;
     padding: 0;
}

header, footer {
     background-color: #72fce1;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     align-items: center;
     justify-content: center;
}

main {
     background-color: #fce172;
}

main, header, footer {

     border-top: 4px solid #C3F094;
     border-bottom: 4px solid #C3F094;
     border-left: 1px solid #C3F094;
     border-right: 1px solid #C3F094;
     font-family: courier new, helvetica, arial;
     line-height: 1.5;
     box-shadow: 10px 5px 5px #CE9BE5;

}

body{
     font-size: 16px;
     background-color: #C3F094;
}

a {
     color: #000000;
}

/* Class selectors */

.page {
     max-width: 960px;
     margin: 0 auto;
}