* {
     margin: 0;
     padding: 0;
}

header, footer {
     background-color: #72fce1;
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     justify-content: center;
}

main {
     background-color: #fce172;
     text-align: center;
}

main, header, footer {

     border-top: 4px solid #C3F094;
     border-bottom: 4px solid #C3F094;
     border-left: 1px solid #C3F094;
     border-right: 1px solid #C3F094;
     font-family: courier new, helvetica, arial;
     line-height: 1.5;
}

body{
     font-size: 16px;
     background-color: #C3F094;
     margin: 0px;
     padding: 0px;
}

nav a {
     display: block;
     color: #134266;
     text-decoration: none;
}

nav a:hover {
     display: block;
     color: #000000;
     background: #fce172;
}

footer a {
     position: relative;
     right: -300px;
}

span {
     position: relative;
     right: -50px;
}

ul {
     display: flex;
     flex-direction: row;
     list-style-type: none;
     font-size: 30px;
     width: 130%;
     margin: 0px;
     justify-self: left;
     position: relative;
     left: -300px;
}

li {
     margin: 10px;
}

/* Class selectors */

.page {
     max-width: 1200px;
     margin: 0 auto;
}

.picture {
     position: relative;
     width: 100%;
}

.banner img {
     width: 100%;
     height: 200%;
}

.info {
     display: grid;
}

.info h2 {
     box-sizing: content-box;
     border: solid #c194f0 10px;
     background: #c3f094;

}

.banner {
     width: 100%;
     grid-column: 1/3;
}

.fun {
     grid-column: 1/2;
     text-align: center;
     margin: auto;
}

.funpic {
     grid-column: 2/3;
     margin: auto;
}

.nature {
     grid-column: 2/3;
     text-align: center;
     margin: auto;
}

.naturepic {
     grid-column: 1/2;
     grid-row: 3/4;
     margin: auto;
}

.history {
     grid-column: 1/2;
     text-align: center;
     margin: auto;
}

.historypic {
     grid-column: 2/3;
     margin: auto;
}

.closing{
     grid-column: 1/3;
     text-align: center;
}

.cta {
     position: absolute;
     top: 15%;
     left: 5%;
     background-color: #c3f094;
     padding: 2rem;
     padding-bottom: 4rem;
     font-size: 25px;
     opacity: .7;
}

.picture a {
     display: block;
     position: absolute;
     left: 19%;
     top: 37%;
     color: #134266;
     text-decoration: none;
     font-size: 20px;
     box-sizing: content-box;
     border: solid #c194f0 10px;
     padding: 5px;
}

.picture a:hover {
     display: block;
     background: #fce172;
     color: #000000;
}