* {
     margin: 0;
     padding: 0;
}

header, footer {
     background-color: #72fce1;
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     justify-items: left;
}

main {
     background-color: #fce172;
     text-align: center;
}

main, header, footer {

     border-top: 4px solid #C3F094;
     border-bottom: 4px solid #C3F094;
     border-left: 1px solid #C3F094;
     border-right: 1px solid #C3F094;
     font-family: courier new, helvetica, arial;
     line-height: 1.5;
}

body{
     font-size: 16px;
     background-color: #C3F094;
     margin: 0px;
     padding: 0px;
}

a {
     color: #000000;
}

ul {
     display: flex;
     flex-direction: row;
     list-style-type: none;
     font-size: 30px;
     width: 130%;
     margin: 0px;
     justify-self: left;
     position: relative;
     left: -300px;
}

li {
     margin: 10px;
}

/* Class selectors */

.page {
     max-width: 1200px;
     margin: 0 auto;
}

.banner {
     width: 100%;
     margin: 0px;
}