form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 10rem;
    border: 3px solid #fe0000;
    border-radius: 1em;
    background-color: #94ac02;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
        By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 3px solid #fe0000;

    background-color: #00cab1;
}

input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border: 3px solid #000;

    background-color: #ff0;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
        between the labels and their text fields */
    margin-left: .5em;
    background-color: #ffadc0;
    color: #fe0000;
}

body {
    background-color: #9b4f96;
    padding-top: 20rem;
}

.warning {
    background-color: #000;
    padding-top: 20rem;
}

.warning p, .warning h1 {
    color: white;
}

h1 {
    padding-left: 45rem;
}

p {
    padding-left: 40rem;
}

header img {
    padding-left: 70rem;
}